{{#with controlPanel.model }}

    {{#eq healthResult.status.name 'UP'}}
        <div class="alert alert-success">
            <h5><i class="icon fas fa-check"></i> All health checks passed</h5>
        </div>
    {{/eq}}

{{/with}}
