{{#with controlPanel}}

    {{#eq model.healthResult.status.name 'UP'}}
        <div class="alert alert-success">
            <h5><i class="icon fas fa-check"></i> UP</h5>
            All health checks passed
        </div>
    {{/eq}}

{{/with}}
