{{#with controlPanel.model.environmentInfo }}
    <p class="card-text">
        <strong>{{badge}}</strong> properties resolved across <strong>{{ propertySources.size }}</strong> property sources.
    </p>
    <p class="card-text">
        <strong>Active environments:</strong>
        {{#if activeEnvironments}}
            {{#each activeEnvironments }}
                <span class="badge badge-primary">{{ this }}</span>
            {{/each}}
        {{else}}
            (none)
        {{/if}}
    </p>
{{/with}}
