{{#with controlPanel.model }}

    {{#eq healthResult.status.name 'UP'}}
        <div class="small-box bg-success">
            <div class="inner">
                <h3>Operational</h3>
                <p>All healthchecks passed</p>
            </div>
            <div class="icon">
                <i class="fas fa-check"></i>
            </div>
        </div>
    {{/eq}}

{{/with}}
