{{#with controlPanel.body }}

    {{#eq status.name 'UP'}}
        <div class="alert alert-success">
            <h5><i class="icon fas fa-check"></i> All health checks passed</h5>
        </div>
    {{/eq}}

    <div class="card-columns">
        {{#each details as |subDetails|}}
            {{#if subDetails.details}}
                <div class="card card-success">
                    <div class="card-header">
                        <h3 class="card-title">{{titleize (decamelize (cut @key '()')) }}</h3>
                    </div>
                    <div class="card-body">
                        {{> (stringFormat "views/health/%s" (cut @key '()')) parameter=subDetails }}
                    </div>
                </div>
            {{/if}}
        {{/each}}
    </div>

{{/with}}
