<div class="row justify-content-center">
    This is the body of the sample control panel
</div>

<div class="row justify-content-center">
    <div class="col-md-auto">
        <a class="btn btn-block bg-gradient-primary" href="/control-panel/{{ controlPanel.name }}">Details</a>
    </div>
</div>
