<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">{{ controlPanel.title }}</h3>
    </div>
    <div class="card-body">
        {{> (lookup . 'controlPanel.detailedView.file') parameter=controlPanel }}
    </div>
    <!-- /.card-body -->
</div>
