<div class="card-deck">
    {{#each controlPanels as |controlPanel|}}
        <div class="card card-primary">
            <div class="card-header">
                <div class="row">
                    <div class="col">
                        <h3 class="card-title">
                            {{ controlPanel.title }}
                            {{#if controlPanel.badge }}
                                <span class="badge badge-light">{{ controlPanel.badge }}</span>
                            {{/if}}
                        </h3>
                    </div>
                    <div class="col text-right">

                        <a class="btn btn-secondary btn-xs" role="button" href="/control-panel/{{ controlPanel.name }}">
                            <i class="fa fa-expand"></i> &nbsp; Details
                        </a>
                    </div>
                </div>

            </div>
            <div class="card-body">
                {{> (lookup . 'controlPanel.body.file') parameter=controlPanel }}
            </div>
        </div>
        {{#mod @index 4 0}}
            <div class="w-100"></div>
        {{/mod}}
    {{/each}}
</div>
