<style>
    .card-columns {
        column-count: 2;
    }
</style>

{{#with controlPanel.model }}
    <div class="row">
        <div class="card card-light">
            <div class="card-header">
                <h3 class="card-title">Application routes</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>

            <div class="card-body">
                <div class="card-columns">
                    {{#each appRoutes as |routes|}}
                        {{> "views/routes/routes" parameter=routes}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card card-light">
            <div class="card-header">
                <h3 class="card-title">Micronaut Framework routes</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>

            <div class="card-body">
                <div class="card-columns">
                    {{#each micronautRoutes as |routes|}}
                        {{> "views/routes/routes" parameter=routes}}
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
{{/with}}
